.box-sizing {
    border: 1px solid #000;
    width: 1000px;
    .item {
        @include prefix(box-sizing, border-box, webkit moz ms o);
        border: 1px solid #000;
        float: left;
        height: 200px;
        width: 200px;

        &:nth-child(odd) {
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2989d8+0,ffffff+25,c42c27+50,ffffff+75,2989d8+100 */
            background: #2989d8; /* Old browsers */
            background: -moz-linear-gradient(top, #2989d8 0%, #ffffff 25%, #c42c27 50%, #ffffff 75%, #2989d8 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #2989d8 0%,#ffffff 25%,#c42c27 50%,#ffffff 75%,#2989d8 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #2989d8 0%,#ffffff 25%,#c42c27 50%,#ffffff 75%,#2989d8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#2989d8',GradientType=0 ); /* IE6-9 */
        }
    }
}
