.menu {
    background-color: #cc9900;
    box-sizing: border-box;
    padding: 23px 15px;
    

    a {
        color: $third-color;
        font-size: 1em;
        font-weight: 900;
        font-family: $main-font;
    }

    .dropdown {
        display: none;
    }
}

