// Fonts
@font-face {
    font-family: Franchise;
    src: url("../font/Franchise.ttf");
};

$logo-font: 'Franchise', sans-serif;
$main-font: 'Lato', sans-serif;
$secondary-font: 'Arvo', serif;

// Colors
$main-color: #6b3b25;
$secondary-color: #cc9900;
$third-color: #ebe6df;