.highlight {
    box-sizing: border-box;
    margin-bottom: 85px;
    padding: 0 40px;
    text-align: center;
    
    h3{
        font-size: 30px;
        margin: 55px 0 65px;
        text-transform: uppercase;
    }
    .promo {
        display: inline-block;
        margin-left: 40px;
    }

}