.who {
    background-image: url("../img/banner2.jpg");
    background-size: cover;
    box-sizing: border-box;    
    height: 560px;
    //padding: 10% 0;    
    text-align: center;

    img {
        float: left;
        margin: 225px 0 0 170px;
    }
}