.background-cover {
    background-image: url("../img/phone.png"), url("../img/facebook.png"), url("../img/snow.jpg");
    background-position: left top, right top;
    background-repeat: no-repeat;
    background-size: 6% ,10%, cover;
    height: 100vh;
    width: 100vw;
}

.contacts  {
    margin: 0 auto;
    padding-top: 20vh;
    width: 70vw;

    & > div {
        background-color: rgba(60, 86, 89, 0.5);
        border: 10px solid #1c2f2d;
        border-radius: 100%;
        float: left;
        height: 150px;
        margin-left: 12%;
        width: 150px
    }

}

.border-star {
    background-color: rgba(176, 213, 236, 0.5);
    border: 15px solid transparent;
    border-image-source: url("../img/star_border.png");
    border-image-repeat: round;
    border-image-slice: 18%;
    border-image-width: 75px;
    margin: 20px auto 0;
    padding: 20px;
    text-align: center;
}

.btn-start{
    background-color: rgba(39, 57, 62, 0.64);
    border: none;
    border-radius: 5%;
    box-shadow: 0px 30px 55px 15px rgba(66,103,120,1);
    color: #fff;
    font-size: 40px;
    height: 80px;
    margin: 40px auto 0;
    width: 240px;

    &:hover {
        background-color: #fff;
        color: #27393e;
        box-shadow: 0px 30px 100px 40px rgba(26, 74, 96, 1);
    }
}
