.promo {
    position: relative;
    text-align: center;

    figcaption{
        background-color: rgba(0, 0, 0, 0.5);
        bottom: 5px;
        color: #fff;  
        padding: 20px 0 10px;              
        position: absolute;
        right: 0%;
        width: 100%;
    }
    figcaption:after {
        content: "";
        display: block;        
        font: 500 19px $main-font;
        margin-top: 0;
        @include prefix(transition, all 2s ease-out, moz o webkit ms);
    }

    figcaption:hover:after {
        content: "Más información";
        display: block;        
        font: 500 19px $main-font;
        margin-top: 25px;
    }
    figcaption:hover:before {
        bottom: 0;
        content: "+";        
        position: absolute;
        right: 20px;        
    }
}