nav {
    border-bottom: 1px solid #887a6b;
    font-size: 0.875em;
    text-align: right;    
    width: 100%;

    li {
        display: inline-block;
        list-style: none;
        margin-right: 40px;
        text-transform: uppercase;
    }

    a {
        color: $font-color;
        display: block;
        padding: 30px 20px;
    }

}