.who-we-are {
    color: $font-color;
    aside {
        background-color: #000;
        box-sizing: border-box;        
        padding: 0 6%;        
        text-align: center;    
    }
     ul {
        list-style: none;
        margin-top: 35px;
    }
    h2 {
        font-size: 2.5em;
        margin-top: 300px;
    }
    p {
        margin-top: 30px;            
    }

    .fa-tripadvisor {
        font-size: 2.438em;
        margin: 55px 0 148px;
    }
}